@model StudentDto
@{
    ViewData["Title"] = "vStudentDet";
}

<script type="text/javascript">

    document.addEventListener("DOMContentLoaded", () => {
        Document = document.getElementById('Document').value;

        if (Document != "") {
            div = document.getElementById('divSubject');
            div.style.display = '';
        }
        else {
            div = document.getElementById('divSubject');
            div.style.display = 'none';
        }

    });

</script>

<div class="row">
    @if (TempData["Error"] != null)
    {
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @Html.Raw(TempData["Error"])
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    }
    <br />   
    <div class="col-1">
        <a asp-action="vStudentIni" asp-controller="Student" class="btn btn-warning btn-sm">Go Back</a>
    </div>
    
</div>
<br />
<div class="row">

    <div class="col-5">
        <div class="card">
            <div class="card-header">
                @ViewBag.Accion
            </div>
            <div class="card-body">

                <form asp-action="SaveChanges" asp-controller="Student" asp-route-insert="@ViewData["Insert"]" method="post">

                    <div class="mb-2">
                        <label class="form-label">Document</label>
                        <input type="text" class="form-control form-control-sm" asp-for="Document" required />
                    </div>

                    <div class="mb-2">
                        <label class="form-label">Name</label>
                        <input type="text" class="form-control form-control-sm" asp-for="Name" required />
                    </div>

                    <div class="mb-2">
                        <label class="form-label">Email</label>
                        <input type="email" class="form-control form-control-sm" asp-for="Email" required />
                    </div>

                    <button type="submit" class="btn btn-success btn-sm">Save Changes</button>
                </form>
            </div>
        </div>
    </div>
    <div id="divSubject" class="col-5">
        <div class="card">
            <div class="card-header">
                Subjects
            </div>
            <div class="card-body">
                <a asp-action="vEnrollmentDet" asp-controller="Enrollment" asp-route-Document="@Model.Document" class="btn btn-success btn-sm">New Enrollment</a>
                <hr />
                <table class="table">
                    <thead>
                        <tr>
                            <th>Subject</th>
                            <th>Creditos</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Enrollments)
                        {
                            <tr>
                                <td>@item.Subject.Name</td>
                                <td>@item.Subject.Credits</td>
                                <td>
                                    <a asp-action="Delete" asp-controller="Enrollment" asp-route-IdEnrollment="@item.IdEnrollment" asp-route-Document="@item.Document" class="btn btn-danger btn-sm">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
@section Scripts {
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.select2').select2();
        });

    </script>
}
